#grid-col {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
}

.cell {
  background: grey;
  padding: 80px;
  border: 1px black;
  margin: 10px;
}

@media screen and (max-width: 640px) {
  #grid-col {
    grid-template-columns: 100%;
  }
}

.correct {
  background-color: rgb(32, 131, 32);
}
